@using EndPoint.WebUI.Areas.Admin.Models.Identity;
@model List<AppUser>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["Title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" href="#showmodal=@Url.Action("Create")">افزودن کاربر</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست کاربران</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>نام کامل</th>
                                    <th>نام کاربری</th>
                                    <th>ایمیل</th>
                                    <th>جزئیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model?.Any() == true)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FirstName @item.LastName</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <a asp-controller="User" asp-action="Update" asp-route-id="@item.Id">بروزرسانی</a>
                                                |
                                                <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                                |
                                                <a asp-controller="User" asp-action="AddToRole" asp-route-id="@item.Id" asp-route-roleName="admin">دسترسی مدیریت</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}