@using EndPoint.WebUI.Areas.Admin.Models.Identity;
@model List<AppUser>

@{
    ViewData["Title"] = "Index";
}
<div>
    <a asp-controller="User" asp-action="Create">افزودن کاربر</a>
</div>
<br />

<table class="table table-bordered table-striped">
    <tr>
        <th>نام کامل</th>
        <th>نام کاربری</th>
        <th>ایمیل</th>
        <th>جزئیات</th>
    </tr>
    @if (Model?.Any() == true)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <a asp-controller="User" asp-action="Update" asp-route-id="@item.Id">بروزرسانی</a>
                    |
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    |
                    <a asp-controller="User" asp-action="AddToRole" asp-route-id="@item.Id" asp-route-roleName="admin">دسترسی مدیریت</a>
                </td>
            </tr>
        }
    }
</table>